<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
		<meta charset="UTF-8">
		<title>prova</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/				angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

{{documento}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("http://site1610.web.cs.unibo.it/easyRASH/project-files/example-annotations.html")
    .then(function(response) {
        $scope.documento = response.data;
    });
});
</script>
</body>
</html>