body {
	font-family: 'Roboto', sans-serif;
		background: #FF5252;
  -webkit-font-smoothing: antialiased;
	  overflow: hidden;
}

.bg-1{
	background: #607D8B;
}

.bg-2{
	background: #FFFFFF;
}

.bg-3{
	background: #FF5252;
}


.sfondo{
	min-height: 500px;
}

.bottom p{
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: large;
	padding-top: 10px;
}

.user p{
	text-align: center;
}

hgroup { 
	text-align:center;
	padding-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #FFFFFF; 
	font-weight: bold;
	font-size: 400%; 
}

h3 { color: #FFFFFF;
	opacity: 30%;
	padding-bottom: 20px; }

footer { text-align: center; }

footer p {
	padding-top: 20px;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: .4px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.login{
	width: 100%;
}