<md-card class="md-whiteframe-16dp" flex="40" flex-xs="80" flex-sm="55">
	<md-card-content>
		<div ng-if="error" id="error">
			<b layout="row" layout-align="center center" class="md-padding">{[{errorMessage}]}</b>
		</div>
		<form ng-submit="login()">
			<md-input-container class="md-block">
				<label>Username</label>
				<input type="text" class="form-control" name="email" ng-model="loginForm.email" required>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Password</label>
				<input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
			</md-input-container>

			<div layout="column" class="user">
				<md-button type="submit" ng-disabled="disabled" class="md-raised md-accent md-fab-button"> Log in </md-button>
				<p>Not a member? <a ng-click="showAdvanced($event)">Register now</a></p>
			</div>
		</form>
	</md-card-content>
</md-card>
