
<div layout="column" ng-controller="loginController">

	<div class=" md-whiteframe-4dp bg-1" flex="90"  flex-xs="95" flex-sm="95">

		<div layout="column" layout-align="center center">	
		
			<hgroup>
				<h1>easyRASH</h1>
				<h3>Everything you need to create, organize and manage your Scientific Conference</h3>
			</hgroup>
		
			<div ng-include="'../easyRASH/templates/login.html'" class="login" layout="row" layout-align="center center">
			</div>	
		</div>
	</div>

	<div class="bottom" flex>
		<p hide-sm hide-xs>	Powered by GAOS </p>
	</div>
</div>