<div layout="column" layout-fill ng-controller="loginController">
<md-content class="bg-1" layout="column" layout-align="start stretch">
	<main class="main">
		<h1>easyRASH</h1>
		<div ng-include="'../easyRASH/templates/login.html'" layout="row" layout-align="center center"></div>
	</main>
	<span flex></span>
	<footer class="GAOS">
		Powered by GAOS
	</footer>
</md-content>
</div>
<!--
<md-content layout="column">
    <main>
      <p>content</p>
      <p>content</p>
    </main>
    <span flex></span>
    <footer>
      <p>footer</p>
    </footer>
  </md-content>
</div> -->