<md-dialog class="md-whiteframe-16dp" flex="60" flex-xs="80" flex-sm="70" ng-controller="regiController">

	<md-dialog-content layout-padding>
		<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

		<!-- I don't know why ng-submit="register()" doesn't work" -->
		<form >

			<div layout-gt-xs="row">
				<md-input-container class="md-block" flex-gt-xs >
					<label>First Name</label>
					<input ng-model="regiForm.given_name" required>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-xs >
					<label>Last Name</label>
					<input ng-model="regiForm.family_name" required>
				</md-input-container>
			</div>


			<md-input-container class="md-block" >
				<label>Email</label>
				<input ng-model="regiForm.email" type="email" required>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Password</label>
				<input ng-model="regiForm.password" type="password" required>
			</md-input-container>

			<!-- required here doesn't work -->
			<md-radio-group ng-model="regiForm.sex" layout layout-align="center" layout-wrap layout-padding required>
				<md-radio-button value="Male"> Male </md-radio-button>
				<md-radio-button value="Female"> Female </md-radio-button>
				<md-radio-button value="Banana"> Banana </md-radio-button>
			</md-radio-group>

			<div layout="column">
				<md-button ng-click="register()" class="md-raised md-accent md-fab-button" > Register </md-button>
			</div>

		</form>

		<p>{[{regiForm.email}]}</p>

	</md-dialog-content>
</md-dialog>
