<div class="homePage">
   <!-- <h3 style="color : black">Welcome {[{  usr.name  }]}</h3> -->
    <div>
        <md-content>
            <section layout="column" layout-wrap>
                
					<md-content>
						<p>EasyRASH is the web app that can help you to easly come through the peer-review process!</p>
						<p>Our minimal design is optimal to focus only on what you need.</p>
						<p>
						Discover the many functions we provide you by clicking on the question mark at the right top corner or start right now to work on your papers by clicking on a title below.
						</p> 		
					</md-content>
				
					
            </section>
        </md-content>
    </div>
</div>
