<div ng-show="notsaved[0]">
  <md-subheader class="md-primary">Not Saved</md-subheader>
<md-list>
        <md-item ng-repeat="annotation in notsaved">
            <md-item-content layout-margin>
                <h5>{[{ annotation["date"] }]}</h5>
                <p>{[{ annotation["text"] }]}</p>
                <div layout="row" layout-align="end center">
                    <md-button class="md-icon-button md-secondary" ng-click="removeAnnotation(annotation['ref'])">
                        <md-icon class="material-icons hoverColour">delete_forever</md-icon>
                        <md-tooltip md-direction="bottom" md-delay="150">
                            Remove
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-secondary" ng-click="editAnnotation(annotation['ref'])">
                        <md-icon class="material-icons hoverColour">mode_edit</md-icon>
                        <md-tooltip md-direction="bottom" md-delay="150">
                            Edit
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-secondary" ng-click="sidenavAnnotation(annotation['ref'])">
                        <md-icon class="material-icons hoverColour">description</md-icon>
                        <md-tooltip md-direction="bottom" md-delay="150">
                            View
                        </md-tooltip>
                    </md-button>
                </div>
            </md-item-content>
            <md-divider></md-divider>
        </md-item>
    </md-list>
</div>

<div ng-repeat="annotations in review">
    <md-subheader class="md-primary">{[{ (viewName(annotations[1]["name"])) && annotations[1]["name"] + " - " + annotations[0]["article"]["eval"]["status"] || "Reviewer "+ ($index+1) }]}</md-subheader>
    <md-list>
        <md-item ng-repeat="annotation in annotations" ng-if="annotation['@type'] == 'comment'">
            <md-item-content layout-margin>
                <h5>{[{ annotation["date"] }]}</h5>
                <p>{[{ annotation["text"] }]}</p>
                <div layout="row" layout-align="end center">
                    <md-button ng-show="annMode && annotation['author']== 'mailto:' + usr.email" class="md-icon-button md-secondary" ng-click="removeAnnotation(annotation['ref'])">
                        <md-icon class="material-icons hoverColour">delete_forever</md-icon>
                        <md-tooltip md-direction="bottom" md-delay="150">
                            Remove
                        </md-tooltip>
                    </md-button>
                    <md-button ng-show="annMode && annotation['author']== 'mailto:' + usr.email" class="md-icon-button md-secondary" ng-click="editAnnotation(annotation['ref'])">
                        <md-icon class="material-icons hoverColour">mode_edit</md-icon>
                        <md-tooltip md-direction="bottom" md-delay="150">
                            Edit
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-secondary" ng-click="sidenavAnnotation(annotation['ref'])">
                        <md-icon class="material-icons hoverColour">description</md-icon>
                        <md-tooltip md-direction="bottom" md-delay="150">
                            View
                        </md-tooltip>
                    </md-button>
                </div>
            </md-item-content>
            <md-divider></md-divider>
        </md-item>
    </md-list>
</div>
