<md-toolbar layout="row" class="md-whiteframe-4dp ">
			
	<div class="md-toolbar-tools">
				
		<md-button class="md-icon-button" aria-label="Menu" ng-click="leftMenu('open', null);">
			<md-icon class="material-icons md-light">menu</md-icon>
		</md-button>
				
		<md-button class="btn1" ng-click="homepage()">
			easyRASH
		</md-button>
		
		<span flex></span>
			 
		<!-- Problema: questo ng-show è un po' lento a caricarsi, come fare? togiamo la direttiva? -->
		<md-button  ng-click="clicca(url,role)" class="md-flat" aria-label="Annotator Mode" ng-show="annotatorbutton">
			{[{buttonText}]}
		</md-button>
			 
		<user-menu></user-menu>

	</div>

</md-toolbar>